 .Contact div h1 {
     text-align: center;
     color: rgb(184, 145, 145);
     font-size: 4rem;
     border-bottom: .1rem solid rgb(56, 41, 41);
     padding: 1rem;
     margin: 0 6rem;
 }
 
 .Contact .forms {
     padding: 2rem;
     padding-left: 10rem;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-gap: 1rem;
 }
 
 .Contact .info {
     padding-top: 3rem;
     padding-left: 10rem;
     padding-bottom: 5rem;
 }