* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

html {
    background-color: rgb(33, 34, 34);
}

body {
    background: rgb(29, 26, 26);
    padding-left: 15rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.navPlaceholder {
    width: 15rem;
    height: 100%;
}

header {
    position: fixed;
    font-size: 1.5em;
    top: 0;
    left: 0;
    height: 100%;
    width: 15rem;
    background: #0f0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .5rem solid rgb(85, 64, 25);
}

header .user h3 {
    color: rgb(87, 87, 28);
}

header .user p {
    color: rgb(87, 87, 28);
}

header .navbar {
    width: 110%;
}

header .navbar ul {
    list-style: none;
    padding: 16px 48px 0;
}

header .navbar ul li a {
    display: block;
    padding: 10px;
    margin: 20px 0;
    background: black;
    color: #fff;
    font-size: 20px;
    border-radius: 5rem;
}

.Home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 10rem;
}

.About div h1 {
    text-align: center;
    font-size: 4rem;
    border-bottom: 1rem solid rgb(90, 75, 75);
}

.Education {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 20%, 70%, 10%;
}

.Home h1 {
    padding-right: 15rem;
    font-size: 5rem;
    color: rgb(126, 119, 119);
}

.Home h3 {
    font-size: 2.5rem;
    color: rgb(126, 119, 119);
}

.Home p {
    font-size: 1rem;
    color: rgb(126, 119, 119);
    padding: 1rem 0;
}

.About div h1 {
    text-align: center;
    color: rgb(184, 145, 145);
    font-size: 4rem;
    border-bottom: .1rem solid rgb(56, 41, 41);
    padding: 1rem;
    margin: 0 6rem;
}

.About .info {
    flex: 1 1 48rem;
    padding: 3rem 1rem;
    padding-left: 6rem;
}

.About .info p {
    padding: 0.8rem;
    font-size: 1.5rem;
    color: rgb(126, 119, 119);
    font-weight: normal;
}

.About .info p span {
    font-weight: 700;
    color: rgb(54, 71, 43);
    padding: .5rem;
}

.Education div h1 {
    text-align: center;
    color: rgb(184, 145, 145);
    font-size: 4rem;
    border-bottom: .1rem solid rgb(56, 41, 41);
    padding: 1rem;
    margin: 0 6rem;
}

.Achievement div h1 {
    text-align: center;
    color: rgb(184, 145, 145);
    font-size: 4rem;
    border-bottom: .1rem solid rgb(56, 41, 41);
    padding: 1rem;
    margin: 0 6rem;
}

.Favourite div h1 {
    text-align: center;
    color: rgb(184, 145, 145);
    font-size: 4rem;
    border-bottom: .1rem solid rgb(56, 41, 41);
    padding: 1rem;
    margin: 0 6rem;
}

.Contact div h1 {
    text-align: center;
    color: rgb(184, 145, 145);
    font-size: 4rem;
    border-bottom: .1rem solid rgb(56, 41, 41);
    padding: 1rem;
    margin: 0 6rem;
}

.Contact .forms {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

table {
    border: 1px solid black;
    width: 80%;
    padding-left: 1rem;
}

.Education div h3 {
    padding: 3rem 5rem 3rem 3rem;
    color: rgb(184, 145, 145);
}

footer {
    width: 70%;
    height: 100px;
    background-color: black;
}

@media screen and (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:990px) {
    header {
        left: -120%;
    }
    #menu {
        display: block;
    }
    header.toggle {
        left: 0%;
    }
}

@media(max-width:400px) {
    header {
        width: 100vw;
    }
}

<script src="../Portfoilo/scripts/click.js"></script><div id="menu" class="bars"></div>#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    z-index: 1000;
    display: none;
}